# OS files
.DS_Store
Thumbs.db

# VS Code
.vscode/

# Python cache
__pycache__/
*.py[cod]
*.pyo

# Python virtual environments
.venv/

# Jupyter
.ipynb_checkpoints/

# Environment files
.env
.env.*

# Logs
*.log
*.logs

# Temporary files
*.tmp

# Backup files
*.bak
• Project_Guide

# Ignore venv and project guide directory
.venv/
Project_Guide/

__pycache__/

